<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="/notes/new" method="get">
            <button type="submit" >Add new note</button>
        </form></td>

        <div>
            <table>
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Message </th>
                        <th> Author </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="note : ${notes}">
                        <td><span th:text="${note.name}"></span></td>
                        <td><span th:text="${note.message}"></span></td>
                        <td><span th:text="${note.author}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </body>
</html>